@import 'meyer-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after { box-sizing: border-box; }

:root {
    --primary-color: #00a7e1;
    --secondary-color: #003459;
    --complementary-color: #007ea7;
    --dark-color: #00171F;
    --light-color: #FFFFFF;
    
    --card-min: 280px;
    --card-max: 420px;
    --card-radius: 10px;

    --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

}

body {
    height: 100vh;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.container {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.dashboard {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 10%;
}

.icon-button {
    width: 100%;
    padding: .5rem;
    background-color: var(--complementary-color);
    border-top: 1px solid var(--dark-color);
}

.dashboard > .icon-button + .icon-button {
    border-left: 1px solid var(--dark-color);
}

.icon {
    width: 100%;
    height: 100%;
}

#dash {
    display: none;
}

#tasks {
    display: none;
}

#settings {
    display: none;
}

.container-main {
    background-color: var(--light-color);
    overflow: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: clamp(8px, 1vw, 20px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
    padding: clamp(12px, 4vw, 24px);
    height: 86%;
    
}

.container-main::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}

.item {
    width: 100%;
    height: 100px;
    background-color: red;
}


/* Cards */

.card {
    border: 2px solid black;
    border-radius: var(--card-radius);
    position: relative;
    grid-template-columns: 1fr;
    flex-direction: column;
    background-color: var(--secondary-color);
    max-height: 200px;
    font-family: 'Roboto', sans-serif;
}

.card-title {
    font-size: var(--step-4);
    height: fit-content;
    padding: .25rem;
    color: var(--light-color);

}

.card-details {
    flex-direction: column;
    height: 100%;
}

.card-description {
  font-size: var(--step-1);
  padding: .25rem;
  color: var(--light-color);
  opacity: 0.5;

  /* multi-line clamp */
  display: -webkit-box;        
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;       /* number of lines */
  overflow: hidden;
  text-overflow: ellipsis;

  /* optional: modern shorthand where supported */
  line-clamp: 4;
}

.card-buttons {
    max-height: 40px;
    background-color: var(--primary-color);
    border-bottom-left-radius: var(--card-radius);
    border-bottom-right-radius: var(--card-radius);
}

.card-button {
    width: 100%;
    padding: .5rem;
    border-top: 1px solid var(--dark-color);
}

.card-buttons > .card-button + .card-button {
    border-left: 1px solid var(--dark-color);
    
}

.card-button-icon {
    width: 100%;
    height: 100%;
    max-height: 50px;
}

/* form */

.container-new-post {
    flex-direction: column;
    align-items: c;
    color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
    display: none;
}

.container-form-prompt {
    flex-direction: column;
    margin-bottom: 1.5rem;
    gap: .25rem;
}

.post-form {
    flex-direction: column;
    border: 2px solid red;
}

.submit-post-button {
    border-radius: 5px;
    width: fit-content;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
}

#new-title {
    border: 2px solid var(--secondary-color);
    font-size: var(--step-2);

}

#new-description {
    height: 200px;
    overflow: scroll;
    border: 2px solid var(--secondary-color);
    font-size: var(--step-1);
    resize: none;
}

.submit-post-button {
    margin-top: 1rem;
    font-size: var(--step-1);
}

label {
    font-size: var(--step-2);
}

@media (min-width: 769px) {
    .dashboard {
        position:absolute;
        height: 100vh;
        flex-direction: column;
        width: 40%;
        max-width: 400px;
        border-right: 2px solid var(--secondary-color);
        background-color: var(--complementary-color);
        left: -400px;
    }

    #tasks {
        display:flex
    }

    #settings {
        display: flex;
    }
    
    #dash {
        display: flex;
    }


    .icon-button {
        width: 100%;
        display: flex;
        flex-direction: row;
        border: none;
        background-color: transparent;
        align-items: center;
        min-height: 80px;
    }

    .icon {
        width: 75px;
    }

    .button-description {
        color: var(--light-color);
        font-size: var(--step-3);
        font-family: 'Roboto', sans-serif;
        margin-left: 1rem;
    }

    .container-main {
        border: 2px solid black
    }


}